<html>
<head>
    <style>
        #parent {
            text-align:left;
            max-width:800px;
        }
    </style>
</head>
<body>
<center>
<div id="parent">
<h1>About</h1>
<br>
QC Benchmarker is currently in beta with limited support for instrument platforms and commercial materials. Please reference the <a href="/documentation">documentation</a> to see what features are currently implemented.
<br><br>
Developed by:
<br>
Ben Neely<br>
Paul Anderson<br>
Magnus Palmblad<br>
<br>
QC Benchmarker relies on many other open-source projects including:<br>
Trans-Proteomic Pipeline <br>
msconvert (within TPP) <br>
SpectaST (within TPP) <br>
comet (within TPP) <br>
PeptideProphet (within TPP) <br>
mzR <br>
MSnbase <br>
scales <br>
XML <br>
pepXMLTab <br>
ggplot2 <br>
<br>
Code availability:
<br>
Code will be available on GitHub following forthcoming release of pre-print. <br>
<br>
Funding Support:
<br>
Effort for QC Benchmark is not directly supported by any grant/fellowship/company/etc. and does not have any conflict of interest to disclose.
</div>
</body>
</html>