<html>
<head>
    <style>
        #parent {
            text-align:left;
            max-width:800px;
        }
    </style>
</head>
<body>
<center>
<div id="parent">
<h1>Disclaimer</h1>
<br>
The intended use of QC Benchmarker is as a tool to gauge system suitability using a known commercial  protein digest. We are not endorsing these products or stating that they are immutable, but simply that they are easily available for use. <br>
<br>
QC Benchmarker uses platform and material specific quality thresholds to provide the user with qualitative feedback for different components of the system, from sample to peptide identifications. We understand that each system is unique and therefore these thresholds are not universal. We suggest evaluating your own performance to determine what constitutes acceptable performance. <br>
<br>
Identification of certain commercial equipment, instruments, software or materials does not imply recommendation or endorsement by the National Institute of Standards and Technology, nor does it imply that the products identified are necessarily the best available for the purpose. <br>
</div>
</body>
</html>