<html>
<head>
    <style>
        #parent {
            text-align:left;
            max-width:800px;
        }
		.btn-group2 button {
          background-color: #4CAF50; /* Green background */
          border: 1px solid green; /* Green border */
          color: white; /* White text */
          padding: 10px 24px; /* Some padding */
          cursor: pointer; /* Pointer/hand icon */
          float: center; /* Float the buttons side by side */
        }
    </style>
</head>
<body>
<center>
<div class="btn-group2">
  <button id='documentation' onclick="window.history.go(-1)">Back to QC Benchmarker</button>
</div>
<div id="parent">
<h1>Privacy</h1>
QC Benchmarker is not recording the IP address or any other information to track your computer. We are aware that there can be identifiable  information in some raw data files (such as Thermo's .raw), and have taken steps to insure identifiable data is not retained on the server. The first processing step that occurs once the raw file(s) has been uploaded is that it is converted to .mzML, which no longer has the instrument serial number or local directory structure. The original raw file(s) is kept for no longer than one week on the server, at which point it is removed. <br>
<br>
If you have additional concerns, please contact us at qcbenchmarker@gmail.com.
</div>
</body>
</html>